[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/github.com/howeyc/fsnotify"]
	path = vendor/github.com/howeyc/fsnotify
	url = https://github.com/howeyc/fsnotify
[submodule "vendor/github.com/hydrogen18/stalecucumber"]
	path = vendor/github.com/hydrogen18/stalecucumber
	url = https://github.com/hydrogen18/stalecucumber
[submodule "vendor/github.com/kardianos/osext"]
	path = vendor/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
[submodule "vendor/github.com/lomik/go-carbon"]
	path = vendor/github.com/lomik/go-carbon
	url = https://github.com/lomik/go-carbon
[submodule "vendor/github.com/sevlyar/go-daemon"]
	path = vendor/github.com/sevlyar/go-daemon
	url = https://github.com/sevlyar/go-daemon
[submodule "vendor/github.com/uber-go/zap"]
	path = vendor/github.com/uber-go/zap
	url = https://github.com/uber-go/zap
[submodule "vendor/github.com/lomik/zapwriter"]
	path = vendor/github.com/lomik/zapwriter
	url = https://github.com/lomik/zapwriter
[submodule "vendor/github.com/lomik/stop"]
	path = vendor/github.com/lomik/stop
	url = https://github.com/lomik/stop
[submodule "vendor/github.com/uber-go/atomic"]
	path = vendor/github.com/uber-go/atomic
	url = https://github.com/uber-go/atomic
[submodule "vendor/github.com/lomik/graphite-pickle"]
	path = vendor/github.com/lomik/graphite-pickle
	url = https://github.com/lomik/graphite-pickle
[submodule "vendor/github.com/lomik/og-rek"]
	path = vendor/github.com/lomik/og-rek
	url = https://github.com/lomik/og-rek
[submodule "vendor/go.uber.org/zap"]
	path = vendor/go.uber.org/zap
	url = https://github.com/uber-go/zap
[submodule "vendor/go.uber.org/atomi"]
	path = vendor/go.uber.org/atomi
	url = https://github.com/uber-go/atomic
[submodule "vendor/go.uber.org/atomic"]
	path = vendor/go.uber.org/atomic
	url = https://github.com/uber-go/atomic
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://github.com/golang/text
[submodule "vendor/google.golang.org/genproto"]
	path = vendor/google.golang.org/genproto
	url = https://github.com/google/go-genproto
