<yandex>
  <!-- Common config -->
  <interserver_http_host>test-clickhouse-s1</interserver_http_host>
  <query_log>
    <!-- What table to insert data. If table is not exist, it will be created.
      When query log structure is changed after system update,
      then old table will be renamed and new table will be created automatically.
    -->
    <database>system</database>
    <table>query_log</table>

    <!-- Interval of flushing data. -->
    <flush_interval_milliseconds>7500</flush_interval_milliseconds>
  </query_log>


  <!-- Uncomment if use part_log -->
  <part_log>
    <database>system</database>
    <table>part_log</table>

    <flush_interval_milliseconds>7500</flush_interval_milliseconds>
  </part_log>
</yandex>
